# location of ecos files
export ECOS_REPOSITORY="../ecos/packages"

# ecos kernel configuration (ecc) file
ECC="stm32f429_internal_eval.ecc"
#ECC="stm32f429_internal_tr2_168MHz.ecc"

# provide all application source code files separated by spaces; empty string to just build the kernel
FILES="src/main.cpp src/drivers/tca9535.c src/drivers/tca6424.c \
src/drivers/gt9147.c src/drivers/LIS2DH.c src/drivers/lg4573a.c \
src/drivers/dma2d.c src/drivers/ltdc.c \
src/FontManager.cpp src/mem_alloc.c \
lib/src/stm32f4xx_hal_rcc_ex.c lib/STM32F429I-Eval/stm324x9i_eval_lcd.c \
lib/src/stm32f4xx_hal_gpio.c lib/src/stm32f4xx_hal_tim.c \
lib/STM32F429I-Eval/stm324x9i_eval_sdram.c \
lib/src/stm32f4xx_hal_sdram.c lib/src/stm32f4xx_ll_fmc.c \
src/synchro.c src/drivers/pwm.c src/jn5168_flasher.c \
src/log_helper.c \
src/file_download.c \
lib/cc3100_simplelink/source/*.c \
lib/cc3100_simplelink/hal/*.c \
src/contiki_communication/packet_sending.c src/contiki_communication/uart_protocol.c src/contiki_communication/commands.cpp \
src/romfs.c src/flashfs.c src/battery_monitor.c src/cc3100.c src/app_config.cpp"

ADD_OPT="-O2 -fno-strict-aliasing -Wno-missing-braces -IGUI-lib/inc -IGUI-lib/Third-Party/tinyxml2 -Iinclude/ -Ilib/cc3100_simplelink/ -Ilib/cc3100_simplelink/include/ -Ilib/cc3100_simplelink/hal/ -Ilib/ -Ilib/include/ -Ilib/common/ -Ilib/STM32F429I-Eval/ \
-Ilib/libpng-1.5.14/ -LGUI-lib/ -lgui"
# -include stm32f4xx_hal_conf.h
