# location of ecos files
export ECOS_REPOSITORY="../ecos/packages"

# ecos kernel configuration (ecc) file
#ECC="stm32f429_internal_eval.ecc"
ECC="stm32f429_internal_tr2_168MHz.ecc"

# provide all application source code files separated by spaces; empty string to just build the kernel
FILES="src/main.cpp src/drivers/internal_flash.c src/draw.cpp src/romfs.c \
src/drivers/dma2d.c src/drivers/ltdc.c src/drivers/lg4573a.c src/GUIFont.cpp \
src/mem_alloc.c src/drivers/tca6424.c \
lib/src/stm32f4xx_hal_rcc_ex.c lib/STM32F429I-Eval/stm324x9i_eval_lcd.c \
lib/src/stm32f4xx_hal_gpio.c lib/src/stm32f4xx_hal_tim.c \
lib/STM32F429I-Eval/stm324x9i_eval_sdram.c \
lib/src/stm32f4xx_hal_sdram.c lib/src/stm32f4xx_ll_fmc.c \
src/flashfs.c src/battery_monitor.c"

ADD_OPT="-O2 -fno-strict-aliasing -Wno-missing-braces -Iinclude/  -Ilib/ -Ilib/include/ -Ilib/common/ -Ilib/STM32F429I-Eval/"